@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --rosa: #f7e3ea;
  --branco: #fff;
  --lilas: #ddb2d9;
  --lilas-hover: #c48fbf;
}


* { 
  font-family:'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

.navegacao-principal {
   background-color: var(--rosa);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 20px;
   box-shadow: var(--lilas) 0px 0px 15px;
}

h1 {
  font-size: 21px;
  font-weight: 700;
  color: var(--lilas);
  padding: 10px;}

.navegação {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-list a {
  font-weight: 600;
  color: var(--lilas);
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-list a:hover {
  color: var(--lilas-hover);
}

.sobre {
  background-color: var(--branco);
  padding: 60px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.foto {
  width: 200px;
  border-radius: 50%;
  border: 4px solid var(--rosa);
  box-shadow: var(--lilas) 0px 0px 15px;
}

.titulo-nome {
  font-size: 24px;
  font-weight: 700;
  color: var(--rosa);
  padding: 20px;
}

.p-perfil {
  font-size: 16px;
  font-weight: 400;
  color: var(--lilas);
  text-align: center;
  max-width: 600px;
  line-height: 1.5;
}

.lista-habilidades {
  background-color: var(--rosa);
  padding: 40px 20px;
  text-align: center;
}

.titulo-habilidades {
  font-size: 24px;
  font-weight: 700;
  color: var(--lilas);
  margin-bottom: 20px;
}

.habilidades {
  display: flex;
  justify-content: center;
}

.habilidade-lista {
  list-style: none;
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item-habilidade {
  background-color: var(--branco);
  color: var(--lilas);
  padding: 10px 5px;
  border-radius: 50px;
  border: var(--lilas) 2px solid;
  font-weight: 600;
}

.projetos {
  background-color: var(--branco);
  padding: 40px 20px;
  text-align: center;
}

.titulo-projeto {
  font-size: 24px;
  font-weight: 700;
  color: var(--rosa);
  margin-bottom: 20px;
}

.p-projeto {
  font-size: 16px;
  font-weight: 400;
  color: var(--lilas);
  text-align: center;
  max-width: 600px;
  line-height: 1.5;
  margin: 0 auto;
}

.p-projeto a {
  color: var(--lilas);
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s ease;
  
}

.p-projeto a:hover {
  color: var(--lilas-hover);
}

.meu-contato {
  background-color: var(--rosa);
  padding: 40px 20px;
  text-align: center;
}

.titulo-contato {
  font-size: 24px;
  font-weight: 700;
  color: var(--lilas);
  margin-bottom: 20px;
}

.contato p {
  font-size: 16px;
  font-weight: 400;
  color: var(--lilas);
  text-align: center;
  max-width: 600px;
  line-height: 1.5;
  margin: 0 auto;
}

.formulario {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.nome input, .email input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 2px solid var(--lilas);
  border-radius: 5px;
  font-size: 16px;
}

.mensagem textarea {
  width: 100%;
  max-width: 420px;
  height: 150px;
  padding: 10px;
  border: 2px solid var(--lilas);
  border-radius: 5px;
  font-size: 16px;
  resize: vertical;
}

.mensagem textarea:focus, .nome input:focus, .email input:focus {
  outline: none;
  border-color: var(--lilas-hover);
}

#botão {
  background-color: var(--lilas);
  color: var(--branco);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#botão:hover {
  background-color: var(--lilas-hover);
}

footer {
  background-color: var(--branco);
  text-align: center;
  padding: 20px;
}

.rodape {
  font-size: 15px;
  color: var(--lilas);
  font-weight: 400;
}


@media (max-width:760px) {
  .navegação-principal {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .nav-links {
    display:none;
  }

  .navegação {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  .habilidades {
    flex-direction: column;
  }
}